{% extends "app/base.html" %}
{% load static %}

{% block content %}

<!-- Profile section -->
<section class="profile">
    <h1 class="heading">Account <span>Information</span> </h1>
    <div class="box-container">
        <hr>
        <div class="field">
            <h1>Personal Information</h1>
            <p>First Name: {{customer.first_name}}</p>
            <br>
            <p>Last Name: {{customer.last_name}}</p>
            <br>
            <p>Email: {{customer.email}}</p>
            
            <p>Mobile No. : {{customer.mobile}}</p>
            
        </div>
        <br><hr><br>
        <div class="field">
            <h1>Address</h1>
            {% if address %}
                    {% for addr in address %}
                    <p>Address: {{addr.address}}</p>
                    <p>Landmark: {{addr.landmark}}</p>
                    <p>City: {{addr.city}}</p>
                    <p>State: {{addr.state}}</p>
                    <p>zipcode: {{addr.zipcode}}</p>
                    <p>Country: India</p>
                    {% endfor %}
            {% endif %}
        </div>
        <br><hr><br>
        <div class="field">
            <h1>Order History</h1>
        </div>
    </div>
</section>

{% endblock content %}