{% extends "app/base.html" %}
{% load static %}

{% block content %}

<!-- Profile section -->
<section class="profile">
    <h1 class="heading">Account <span>Information</span> </h1>
    <div class="box-container">
        <hr>
        <div class="field ">
            
            
            <h1>Personal Information</h1>
            <div class="perinfo">
                <div>
                    <img src={% static 'images/man.png' %} alt="">
            </div>
            <div>
                <p>Name: {{customer.first_name}} {{customer.last_name}}</p>
                <br>
                
                <p>Email: {{customer.email}}</p>
                <br>
                <p>Mobile No. : {{customer.mobile}}</p>
                <br>
                <p>join date: {{customer.date_joined}}</p>
                <p>last login: {{customer.last_login}}</p>
            </div>
            </div>
            
            
            
        </div>
        <br><hr><br>
        <div class="field">
            <h1>Address</h1>
            {% if address %}
                    {% for addr in address %}
                    <p>Address: {{addr.address}}</p>
                    <p>Landmark: {{addr.landmark}}</p>
                    <p>City: {{addr.city}}</p>
                    <p>State: {{addr.state}}</p>
                    <p>zipcode: {{addr.zipcode}}</p>
                    <p>Country: India</p>
                    {% endfor %}
            {% endif %}
        </div>
        <br><hr><br>
        <div class="order field">
            <h1 class="">Order <span>History</span></h1>
            <div class="tb">
                <div class="r">
                    <p>order id: </p>
                    <p>Trasaction id: </p>
                    <p>Status: </p>
                    <p>delivered: </p>
                </div>

                <div class="r">
                    {% for i in order_detail %}
                    <p>{{i.id}}</p>
                    <p>{{i.transaction_id}}</p>
                    <p>
                        {% if i.complete %}
                        complete
                        {% else %}
                        pending
                        {% endif %}
                    </p>
                    <p>
                        {% if i.delivery %}
                        yes
                        {% else %}
                        not yet
                        {% endif %}
                    </p>
                    {% endfor %}
                    
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}