:root{
  
  --dark:#251749;
  --shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}

html,
body {
  height: 100%;
  background-image: linear-gradient(to right,#fff9fe,#ffd4d4);
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #fff9fe;
  
}

.signup,li{
  list-style-type: none;
  text-decoration: none;
  margin-right: 5px;
  padding: 2px;
  color: #808080;
}

  
form{
    width: 357px;
    height: 100%;

}

body{
  position: relative;
}
.messages{
  display: flex;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  padding: .5rem;
  border: 1px solid #fff;
  background-color:#fff9fe ;
  position: absolute;
  left: 0; 
  right: 0;
  top: 10px; 
  margin-left: auto; 
  margin-right: auto;
  width: fit-content;
  z-index: 2;
}


.msg{
  font-weight: bold;
  color: var(--green);
  list-style: none;
  width: 90%;
}
.messages span{
  color: gray;
  cursor: pointer;
}

@media (max-width:750px) {
    form{
        width: 70%;
    }
    
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.btn{
    background-color: #ffbcbc;
}
img{
  width: 150px;
  margin-bottom: 10px;
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
.form-signup{
  animation: 1s ease-out 0s 1 slideInFromRight;
}

.form-signup .form-floating:focus-within {
  z-index: 2;
}
.form-signup .fname {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signup .lname {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.form-signup input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signup input[type="tel"]{
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.form-signup .pswd {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signup .cpswd {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.tmsg{
  color: red;
  text-align: center;
}
.cmsg ul li{
  text-align: left;
  color: red;
}

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');



*{
    font-family: 'Nunito', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    transition: all .2s linear;

}
body {
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
    height: 100%;
}

section{
    padding:2rem 9%;
}
span{
    text-transform: none;
}
form a{
    text-decoration: none;
    cursor: pointer;
    text-transform: none;
}

input {
    caret-color: var(--green);
}
body{
    position: relative;
}
.messages{
    display: flex;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    padding: .5rem;
    border: 1px solid #fff;
    background-color:#fff9fe ;
    position: absolute;
    left: 0; 
    right: 0;
    top: 10px; 
    margin-left: auto; 
    margin-right: auto;
    width: fit-content;
    z-index: 2;
}


.msg{
    font-weight: bold;
    color: var(--green);
    list-style: none;
    width: 90%;
}
.messages span{
    color: gray;
    cursor: pointer;
}

.heading{
    text-align: center;
    color:var(--black);
    text-transform: uppercase;
    padding:1rem;
    font-size: 1.6rem;
    margin: 1.2rem 0 0;
}

.heading span{
    color:var(--green);
    text-transform: uppercase;
}
.form-signup {
    max-width: 330px;
    padding: 15px;
    text-align: center;
}

#pswdtoggle {
  width: 25px;
  height: 25px;
  position: absolute;
  z-index: 200;
  top: 22px;
  right: 10px;
  cursor: pointer;
  color: var(--dark);
}

@media(max-width: 600px){
    
    .form-signup{
        padding: 5px;
        margin: 46px 10px;
    
    }
}